@page "/EmployeesList"
@using Assignment.Data
@using Assignment.Models
@inject EmployeeService employeesservice


<NavLink class="nav-link" href="AddEmployee">
    <span class="oi oi-plus" aria-hidden="true">Add Employee</span>
</NavLink>

<h1>Employees List</h1>

@if (employeeList is null)
{
    <p><em>No data found</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Employee Code
                </th>

                <th>
                    Name
                </th>

                <th>
                    Phone No
                </th>

                <th>
                    Address
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employeeList)
            {
                <tr>
                    <td>@employee.Code</td>
                    <td>@employee.EmployeeName</td>
                    <td>@employee.PhoneNo</td>
                    <td>@employee.Address</td>
                    <td>
                        <a class="nav-link" href="EditEmployee/@employee.EmployeeId">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>
                        <a class="nav-link" href="Delete/@employee.EmployeeId">
                            <span class="oi oi-trash" aria-hidden="true">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
